[Unit]
Description=Boot Counter Service

[Service]
ExecStart=/home/pi/virtual-encoder/rpi5/boot-counter/boot-counter.sh

[Install]
WantedBy=multi-user.target
