[Unit]
Description=Before Virtual Encoder

[Service]
Type=oneshot
User=pi
Group=pi
WorkingDirectory=/home/pi/virtual-encoder/extras
ExecStart=/home/pi/virtual-encoder/venv/bin/python3 before_main.py

[Install]
WantedBy=multi-user.target
