[Unit]
Description=Virtual Encoder
After=multi-user.target
Requires=before-virtual-encoder.service
Requires=before-shutdown.service

[Service]
Type=exec
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/virtual-encoder/
ExecStart=/home/pi/virtual-encoder/venv/bin/python3 main.py

[Install]
WantedBy=multi-user.target
