[Unit]
Description=Clear OLED display before shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/home/pi/virtual-encoder/venv/bin/python3 /home/pi/virtual-encoder/rpi5/before_shutdown.py

[Install]
WantedBy=multi-user.target