 .log {
   display: flex;
   flex-direction: column;
   grid-area: log;
   grid-gap: 4px;

   .trajectory-container {
     box-sizing: border-box;
     border: solid 1px black;
     overflow-x: clip;
     height: 40%;
     flex-shrink: 0;
   }

   button {
     height: 48px;
     flex-shrink: 0;
   }

   .log-window {
     overflow: scroll;
     display: flex;
     flex-direction: column-reverse;
     flex-grow: 1;
     border: 1px solid #aaaaaa;
     box-sizing: border-box;
   }

   .log-line:nth-last-child(odd) {
     background-color: #c6c6c6;
   }

   .log-line {
     font-family: mono, monospace;
     font-size: 1.5em;
     padding: 0.35em;
     border-bottom: 1px solid #aaaaaa;
     box-sizing: border-box;
   }
 }