.monitoramento {
  grid-area: monitoramento;

  display: grid;
  grid-template-rows: 0.3fr 2fr 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 4px;

  @media (orientation: portrait) {
    grid-template-rows: 1em 1fr;
    grid-template-columns: 5fr 1fr 1fr;
    grid-auto-flow: column;

    div:first-child {
      grid-column: 1 / span 3;
    }
  }

  user-select: none;

  div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
  }

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: pre-line;
  }

  .ok {
    background-color: #009933;
    color: white;

    border: 1px solid #114221;
    border-radius: 4px;
  }

  .ok.warn {
    background-color: #d3cc2a;
    color: #353150;

    border: 1px solid #39391c;
    border-radius: 4px;
  }

  .err {
    background-color: #cc0000;
    color: white;

    border: 1px solid #aa1010;
    border-radius: 4px;
  }
}