body {
  margin: 0;

  button:not([disabled]) {
    cursor: pointer;
  }
}

.wrapper {
  display: grid;
  grid-gap: 4px;
  font-family: sans-serif;

  width: 98vw;
  height: 98vh;
  padding: 1vh 1vw;

  grid-template-columns: min-content 168px auto;
  grid-template-rows: auto 240px;
  grid-template-areas:
    "img       monitoramento log"
    "controles controles     log"
}

@media (width <=1200px) {
  .wrapper {
    grid-template-columns: auto 168px;
    grid-template-rows: auto 240px;
    grid-template-areas:
      "img       monitoramento"
      "controles controles    "
  }

  .log {
    display: none !important;
  }
}

.visualization {
  display: grid;
  justify-items: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;
}

.video-frame {
  object-fit: contain;
  min-height: 480px;
  height: 100%;
  aspect-ratio: 4/3;
  grid-area: 1/1;
}

.crosshair {
  &.hidden {
    display: none;
  }

  &.horizontal {
    z-index: 1;
    height: 1px;
    width: 100%;
    background: red;
    grid-area: 1/1;
  }

  &.vertical {
    z-index: 1;
    height: 100%;
    width: 1px;
    background: red;
    grid-area: 1/1;
  }
}

.visualization>canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}