body {
  margin: 0;

  button:not([disabled]) {
    cursor: pointer;
  }
}

:root {
  --controls-size: 254px;
  --monitor-size: 168px;
}

#app {
  display: grid;
  grid-gap: 4px;
  font-family: sans-serif;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 1vh 1vw;

  grid-template-columns: 1fr var(--monitor-size) 1fr;
  grid-template-rows: max(calc(100% - var(--controls-size))) var(--controls-size);
  grid-template-areas:
    "img       monitoramento log"
    "controles controles     log";

  @media (width < 1000px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1px max(calc(100% - 1fr - var(--controls-size))) var(--controls-size);

    grid-template-areas:
      "monitoramento log"
      "img log"
      "controles controles";
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}