body { margin: 0px; }

.wrapper {
    display: grid;
    grid-gap: 4px;
    font-family: sans-serif;

    width: 98vw;
    height: 98vh;
    padding: 1vh 1vw;

    grid-template-columns: max-content 168px auto;
    grid-template-rows: auto 240px;
    grid-template-areas:
				"img       monitoramento log"
				"controles controles     log"
}

@media (width <= 1200px) {
    .wrapper {
        grid-template-columns: auto 168px;
        grid-template-rows: auto 240px;
        grid-template-areas:
                    "img       monitoramento"
                    "controles controles    "
    }

    .log { display: none !important; }
}

.monitoramento {
    grid-area: monitoramento;

    display: grid;
    grid-template-rows: 0.3fr 2fr 1fr 0.6fr 0.6fr;
    grid-auto-flow: column;
    grid-gap: 4px;

    user-select: none;
}

.visualization {
    display: grid;
    justify-items: center;
    align-items: center;

    position: relative;
    width: 100%;
    height: 100%;
}

.video-frame {
    grid-area: 1/1;
}

.crosshair.hidden { display: none; }
.crosshair.horizontal { z-index:100; height:1px; width:100%; background:red; grid-area:1/1; }
.crosshair.vertical { z-index: 100; height:100%; width:1px; background:red; grid-area:1/1; }

.log {
    display: flex;
    flex-direction: column;
    grid-area: log;
    grid-gap: 4px;
    width: 100%;
    height: 98vh;
}

.log > button {
    height: 48px;
}

.log-window {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
}

.log-line:nth-child(even) {
    background-color: #c6c6c6;
}

.log-line {
    font-family: mono, monospace;
    font-size: 1.5em;
    padding: 0.35em;
    border-bottom: 1px solid #aaaaaa;
    box-sizing: border-box;
}


img {
    object-fit: contain;
    height: 100%;
}

.visualization > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.controles {
    grid-area: controles;

    display: grid;
    grid-gap: 4px;

    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 24px 24px 1fr 1fr 1fr;
}

.brilho { grid-area: 1 / 1 / span 1 / span 14; user-select: none; }
.brilho { display: flex; gap: 8px; }
.brilho > input[type="button"] { flex-shrink: 10; }

.toggle-streaming { grid-area: 4 / 9 / span 1 / span 3; }
.toggle-calibracao { grid-area: 5 / 9 / span 1 / span 3; }

.calibracao { grid-area: 5 / 1 / span 1 / span 3; }
.iniciar-aquisicao { grid-area: 5 / auto / span 1 / span 3; }
.parar-aquisicao { grid-area: 5 / auto / span 1 / span 3; }

.modo-tempo { grid-area: auto / auto / span 1 / span 3; }
.modo-odometro { grid-area: auto / auto / span 1 / span 3; }
.modo-autonomo { grid-area: auto / auto / span 1 / span 3; }

.iniciar-download { grid-area: 4 / 12 / span 1 / span 3; }
.reiniciar { grid-area: 5 / 12 / span 1 / span 3; }
.desligar { display: none; grid-area: 3 / 12 / span 1 / span 3; }

.exposicao { grid-area: 3 / 1 / span 1 / span 3; }
.pulsos-por-segundo { grid-area: 3 / 5 / span 1 / span 3; }
.motivo { grid-area: 3 / 9 / span 1 / span 3; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

label > div { align-self: center; }
.exposicao > input { flex-grow: 1;}
.brilho > input,
.pulsos-por-segundo > input,
.motivo > input { flex-grow: 1; width: 100%;}

.monitoramento > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ok {
    background-color: #009933;
    color: white;

    border: 1px solid #114221;
    border-radius: 4px;
}

.ok.warn {
    background-color: #d3cc2a;
    color: #353150;

    border: 1px solid #39391c;
    border-radius: 4px;
}

.err {
    background-color: #cc0000;
    color: white;

    border: 1px solid #aa1010;
    border-radius: 4px;
}
