[Unit]
Description=Virtual Encoder
After=multi-user.target

[Service]
Type=exec
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/virtual-encoder/rpi0
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target
